@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    font-family: 'Poppins', sans-serif;    
    font-weight: 600;

    &,*{
        cursor: none;
        box-sizing: border-box; 
    
    }
    .cursor{
        position: fixed;
        background: #19baeb;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: -10px 0 0 -10px;
        will-change: transform;
        user-select: none;
        pointer-events: none;
        z-index: 100000;

}

.shapes{
    position: relative;
    height: 95vh;
    width: 95vw;
    background-color: #19baeb;
    overflow: hidden;
 
    .shape{
    will-change: transform;
    position: absolute;
    border-radius: 50%;

    $shapes: (#00DDFB: 650px, #46268B: 440px, #FF006B: 270px);

    @each $color, $size in $shapes {
    &.shape-#{index($shapes, ($color $size))}  {
        background: $color;
        width: $size;
        height: $size;
        margin: (-($size/2)) 0 0 (-$size/2);

    }
   }
  }    
 }

.content{
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: white;
    mix-blend-mode: screen;

   /* .name{
        height: 50vh;
        width: 100vw;
        background: #FF006B;
    }*/
    h1{
        color: black;
        font-size: 10em;
        letter-spacing: 0.001em;
    }
    .contact{
        background: #46268B;
    }
    p{
        font: 2em;
        float: center;
        text-align: center;
    }
    .links{
        text-decoration: none;
        color-adjust: none;
    }

    .links:visited{
        text-decoration: none;
        filter: none;
    }

    .links:hover{
        text-decoration: none;
        color-adjust: none;
    }
}
}